#common-errors-slide {
  .chart {
    display: table;
    position: relative;

    width: 900px;
    height: 301px;
    margin: 0 auto;

    background-image: linear-gradient(to bottom, white 2%, transparent 2%);
    background-size: 100% 60px;
    background-position: left top;
    &:after {
      width: 50px;
      content: '100% 80% 60% 40% 20% 0%';
      display: flex;
      color: white;
      position: absolute;
      justify-content: right;
      right: -60px;
      top: -35px;
      height: 100%;
      line-height: 60px;
    }

    li {
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      height: 200px;
    }

    span {
      margin: 0 1em;
      display: block;
      //background: rgba(#d1ecfa, 0.75);
      background: white;
      transition: height 1s ease-out;
      color: black;
      text-align: center;
      font-size: 19px;
      padding-top: 10px;
      width: 112px;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 5px 1em 0;
        display: block;
        text-align: center;
        content: attr(title);
        word-wrap: break-word;
        font-size: 19px;
        color: white;
      }
    }
  }
}
