.code {
  .fakeMenu {
    width: 620px;
    box-sizing: border-box;
    height: 40px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;

    .fakeButtons {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid #000;
      margin-left: 10px;
      background-color: #ff3b47;
      border-color: #9d252b;
      display: inline-block;

      &.fakeMinimize {
        left: 11px;
        background-color: #ffc100;
        border-color: #9d802c;
      }

      &.fakeZoom {
        left: 16px;
        background-color: #00d742;
        border-color: #049931;
      }
    }
  }

  .fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: 620px;
    margin: 0 auto;
    padding: 20px 20px 20px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    color: white;
    font-size: 23px;

    -webkit-font-smoothing: auto;
    font-family: monospace;
  }
}
