body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tequila-sunrise {
  &.app {
    background-color: #f037a5;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(-60%, #f037a5),
      color-stop(140%, #fae62d)
    );
    background: linear-gradient(#f037a5 -60%, #fae62d 140%);
  }

  .footer {
    color: black;
  }
}

.metal {
  &.app {
    background-color: #485563;
    background: -webkit-linear-gradient(to bottom, #29323c, #485563);
    background: linear-gradient(to bottom, #29323c, #485563);
  }

  .footer {
    color: white;
  }
}

.sea-blue {
  &.app {
    background: #2b5876;
    background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876);
    background: linear-gradient(to bottom, #4e4376, #2b5876);
  }

  .footer {
    color: white;
  }
}

.app {
  display: flex;
  flex: 1;
}

.slides {
  display: flex;
  transition: 1s;
  position: relative;
  left: 0;
}

.quotation {
  color: black;
}

.slide-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &:not(#title-slide) .title {
    position: fixed;
    top: 3rem;
    width: 100vw;
    text-align: center;
  }
}

.slide.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3.5rem;
  background: none;
  font-size: 18px;

  span {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }
}
